body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

#logo img {
    max-width: 80px;
    border-radius: 40px;
}

#marca {
    flex-grow: 1;
    margin-left: 20px;
    text-align: left;
}

nav {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
}
nav ul li a.active {
    color: #ff0000;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.presentacion {
    max-width: 600px;
}

.presentacion h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.presentacion p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.imagen-presentacion img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #45a049;
}



/* contacto.css */

.formulario-contacto {
    margin-top: 20px;
}

.formulario-contacto form {
    max-width: 400px;
    margin: 0 auto;
}

.formulario-contacto label,
.formulario-contacto textarea,
.formulario-contacto input {
    display: block;
    margin-bottom: 10px;
}
.formulario-contacto textarea{
    max-width: 240px;
    width: 240px;
    max-height: 150px;
    height: 150px;
    min-height: 80px;
    min-width: 150px;
}

.formulario-contacto input[type="submit"] {
    background-color: #337ab7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}
.formulario-contacto input[type="reset"]{
    background-color: #337ab7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

.formulario-contacto input[type="submit"]:hover {
    background-color: #286090;
}

.instagram-feed {
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


.instagram-feed img {
    max-width: 90px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.instagram-feed span {
    display: block;
    margin-top: 10px;
}
.separador {
    height: 15px;
    background-color: #4caf4fbd;
}
.botones{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


/* servicios.css */

.tipos-de-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.tipo-servicio {
    max-width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    margin-top: 20px;
}

.tipo-servicio h3 {
    color: #337ab7;
    cursor: pointer;
}

.tipo-servicio ul {
    list-style-type: none;
    padding: 0;
    display: none;
}

.tipo-servicio.desplegable ul {
    display: block;
}

.tipo-servicio li {
    margin-bottom: 8px;
}


/* Carrucel */ 

.carrusel {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.carrusel-container {
    display: flex;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.anterior,
.siguiente {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

.anterior {
    left: 0;
}

.siguiente {
    right: 0;
}


/* Galería */ 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    height: 70%;
    max-height: 600px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-contenido {
    margin: 0%;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.cerrar {
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.imagen-galeria {
    position: relative;
    cursor: pointer;
}

.imagen-galeria img {
    width: 100%;
    height: auto;
}